body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

.backtogroup {
    cursor: pointer;
    font-size: small;
}

.arrow {
    color: black;
}

.group-text {
    color: teal;
    text-decoration: underline;
}

.fullcontainer{
    width: 100%;

}

.singlegroupcontainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width:100%
}

.singlegroupdetails{
    /* border: 1px solid blue; */
    width: 80%;
    height: auto;
    margin-top: 60px;
}


.singlegroupdetails{

    max-width: 2000px;
}

.singlegroup{
    display: flex;
    justify-content: space-between;
}


.groupdetails {
    display: flex;
    flex-direction: row;
    padding-left: 0;
}

.groupdetails li {
    display: flex;
    flex-direction: row;
}

.groupinfo{
    display: flex;
    flex-direction: column;
}
.groupimagesizingcontainer{
    max-width: 1000px;

}

.groupimagesizing{
    width: 100%;
    height: auto;
}

.groupinforcontainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    margin-left: 30px;
}

.Idontknow{
    display: flex;
    align-items: flex-end;
}

.groupbuttons {

    margin-bottom: 20px;
    margin-top: 5px;
    background-color: #008CBA;
    color: white;
    padding: 14px 20px;
    margin-right: 12px;
    margin-bottom: 0px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    font-weight: bold;
    box-shadow: 5px 8px 15px rgba(0, 0, 0, 0.1);

}

.groupsandeventdetails-ingroup{
    min-height: 100vh;
    background-color: rgba(211, 211, 211, 0.333);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.eventandgroup-container{
    width: 80%;
}

.event-box{
    display:flex;
    flex-direction: column;
}

.singleEventContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    padding: 20px;
    max-width: 800px;
}

#topBox{
    display: flex;
    flex-direction: row;
}

#imageDiv-sg {
    width: 100%;
}

#eventinfo-ingroup {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 50%;
}
#eventdateandtimep{
margin-top: 0;
}

#eventnamep {
    margin-top: 0;
}
