/* navigationbonus.css */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar > div {
  display: flex;
  flex-direction: row;
}


.finduser > div {
  padding: 20px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  background-color: #333;
}

li {
  display: flex;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}

.ProfileButton {
  display: flex;
}

.nav-logo {
  width: 30px;
}
