.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.backgroundcolordiv{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    background-color: #f8f8f8;
    width: 650px;
}

.create-event-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 600px;

}

.event-form {
    font-family: Arial, sans-serif;
    max-width: 500px;
}

.create-event-label{
    display: block;
    margin-top: 15px;
    color: black;
    margin-top: 20px;
}

.create-event-input{
    width: 400px;
    height: 18px;
    margin-top: 5px;
}
textarea{
    font-family: Arial, Helvetica, sans-serif;
}

.create-event-date-input{
    width: 160px;
}

.create-event-input-smaller{
    width: 100px;
}
